@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-link {
        /* inline-block is crucial for the width to match the text */
        @apply relative inline-block pb-1 transition-all duration-300 before:content-[''] before:absolute before:-bottom-1 before:left-0 before:w-0 before:h-0.5 before:bg-white before:transition-all before:duration-300 before:z-10 hover:before:w-full;
    }

    .alt-nav-link {
        @apply relative inline-block pb-1 transition-all duration-300 before:content-[''] before:absolute before:-bottom-1 before:left-0 before:w-0 before:h-0.5 before:bg-black before:transition-all before:duration-300 before:z-10 hover:before:w-full;
    }

    .grow-on-hover {
        @apply transition-transform duration-300 hover:scale-105;
    }

    .text-glow {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5);
    }
}

html,
body {
    scroll-behavior: smooth !important;
}

span {
    @apply grow-on-hover;
}

:root {
    --bg-color: #121212;
    --bg-color-nav: ;
    --text-color: #E0E0E0;
}

#navi {
    font-family: Inter;
    font-weight: lighter;
}

#navi h1 {
    color: black;
    font-weight: lighter;
}

#home {
    font-family: monospace;
    color: white;
    font-size: larger;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

#home {
    color: white;
}

#about {
    padding: 30px;
    color: #E0E0E0;
    background-color: #121212;
}

#skills h2 {
    color: white;
}

#skills {
    padding: 30px;
    background-color: #1E1E1E;
    color: black;
}

#projects h2 {
    color: white;
}

#projects {
    padding: 30px;
    background-color: #1E1E1E;
    color: black;
}

#contact {
    padding: 30px;
    background-color: #121212;
    color: #E0E0E0;
}

footer {
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    padding: 10px;
}

#about p {
    text-align: left;
}

#projects h3 {
    font-size: larger;
}